.navbar{
    background-color: rgb(70, 67, 67);
}

.navbar-toggler{
    background-color: rgb(54, 53, 53);
    border-color: black;

} 

#jobSearch{
    color:  rgb(226, 226, 226);
    font-family: 'sans-serif';
}
.nav-link{
    color:  rgb(226, 226, 226);
    font-family: 'sans-serif';
}

body{
    background-color: rgb(209, 209, 209);
}
.cont1 {
    height: 50vh;
}

html, body {
    height:100%;
}

#employment {
    position:absolute;
    left: 50%;
    margin: 0;
    -ms-transform: translateX(-50%);
    transform:translateX(-50%);
    height:35px;
    width:30%;
    max-width:200px;
    background-color: blue;
}